@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  height: 100vh;
  width: 100%;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.unkempt-regular {
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
}

.unkempt-bold {
  font-family: "Unkempt", cursive;
  font-weight: 700;
  font-style: normal;
}